<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hastur23.blogServer.mapper.BlogItemMapper">
    <insert id="insertBlogItem" parameterType="BlogItem">
        insert into blogItem (alias, title, content, image, category) values (#{alias},#{title},#{content},#{image},#{category})
    </insert>

    <select id="getBlogItem" parameterType="String" resultType="BlogItem">
        select * from blogItem where alias = #{alias}
    </select>
</mapper>