<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hastur23.blogServer.mapper.DataTableMapper">
    <select id="getAllDataTableItem" resultType="DataTableItem">
        select * from blogItem
    </select>
    <update id="updateDataTableItem" parameterType="DataTableItem">
        update blogitem set title = #{title}, tag = #{tag}, image = #{image}, content = #{content} where id = #{id}
    </update>
    <select id="getDataTableItemById" parameterType="id" resultType="DataTableItem">
        select * from blogitem where id = #{id}
    </select>
    <delete id="deleteDataTableItem" parameterType="String">
        delete from blogitem where alias = #{alias}
    </delete>
    <insert id="createNewItem" parameterType="DataTableItem">
        insert into blogitem (id, title, alias, time) values (#{id}, #{title}, #{alias}, #{time})
    </insert>
</mapper>