<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hastur23.blogServer.mapper.TextMapper">
    <select id="getBlogText" parameterType="int" resultType="MainText">
        select * from maintext where blogId = #{blogId}
    </select>
    <insert id="insertBlogText" parameterType="String">
        insert into maintext (text) values (#{text})
    </insert>
</mapper>